<span class="title">Чаты</span>
<div class="channels">
    @for (channel of channels; track channel) {
        <div
            class="channels__channel"
            (click)="chooseChannel(channel)"
            [ngClass]="{
                active: channel.id === selectedChannel?.id,
            }">
            <span class="channels__name">{{ channel.name }}</span>
        </div>
    }
</div>
<div class="px-3">
    <p-button
        label="Добавить чат"
        severity="primary"
        [rounded]="true"
        (onClick)="addChannel()"
        class="p-fluid" />
</div>
